useDynLib(sybilSBML)

import(methods)
import(Matrix)
import(sybil)

exportClass(
sbmlPtr,
sbmlError
)

export(
# methods
sbmlPtrType,
sbmlPointer,
sbmlDocKey,
sbmlFileName,
isNULLpointerSBML,
isSBMLdocpointer,
isSBMLmodpointer,
sbmlInfos,
sbmlWarnings,
sbmlErrors,
sbmlFatals,
sbmlDocKey,
sbmlFileName,
getNumErrors,
printSlot,
# function names
sbmlDocPointer,
sbmlModPointer,
sbmlError,
versionLibSBML,
openSBMLfile,
closeSBMLfile,
getSBMLmodel,
delSBMLmodel,
getSBMLlevel,
getSBMLversion,
validateSBMLdocument,
getSBMLerrors,
getSBMLmodId,
getSBMLmodName,
getSBMLnumCompart,
getSBMLnumSpecies,
getSBMLnumReactions,
getSBMLunitDefinitionsList,
getSBMLCompartList,
getSBMLSpeciesList,
getSBMLReactionsList,
readSBMLmod,
writeSBML,
getSBMLFbcversion,
getSBMLmodNotes,
getSBMLmodAnnotation,
isAvailableFbcPlugin,
isAvailableGroupsPlugin
)
